.the-grid{
	display: grid;
	grid-template-columns: 150px 350px 600px 250px;
	grid-template-rows: auto;
}
.header{
	grid-column:1/5;
	grid-row:1/2;
	margin-bottom:50px;
}
.contactinfo{
	grid-column:2/3;
	grid-row:2/3;
}

#contact-us-form {
	grid-column:3/4;
	grid-row:2/3;
	color: #000;
	float: right;
	padding: 0px 30px 15px 30px;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: blue;
}
#contacttitle{
	color:blue;
}
.contactinfo img {
	width:20px;
	height:20px;
	margin-right: 10px;
}

label {
	margin-left: 10px;
}

input, select, textarea {
	box-sizing: border-box;	
}
	
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin:10px;
  font-family: "proxima"
}
.footer {
	grid-column:1/5;
	grid-row:10/11;
	position: relative;
}